@page "/events/{id}"
@using BISA.Client.Services.EventService
@inject IEventService EventService

<h3>Event</h3>

<MudCard>
    <MudCardContent>
        
        <MudText Typo="Typo.h6">@SingleEvent.Subject</MudText>
        <MudText>@SingleEvent.Type.Type</MudText>
        <MudText Typo="Typo.body2">Organized by: @SingleEvent.Organizer</MudText>
        <br />
        <MudText>Description: </MudText>
        <MudText>@SingleEvent.Description</MudText>
        <br />
        <MudText>Where: @SingleEvent.Location</MudText>
        <MudText>When: @SingleEvent.Date</MudText>
        
    </MudCardContent>
</MudCard>

@code {
    [Parameter]
    public string Id { get; set; }
    private EventViewModel SingleEvent { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var serviceResponse = await EventService.GetEvent(Int32.Parse(Id));
        if (serviceResponse.Success) SingleEvent = serviceResponse.Data;
    }
}
