@inject NavigationManager navManager

@if(Items.Any())
{
    <MudTable T="ItemViewModel" OnRowClick="@RowClicked" Items="@Items">

    <ToolBarContent>
        <MudText Typo="Typo.h6">Search results</MudText>
        <MudSpacer />
    </ToolBarContent>

    <HeaderContent>
        <MudTh>Title</MudTh>
        <MudTh>Type</MudTh>
        <MudTh>Date</MudTh>
        <MudTh>Creator</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        <MudTd DataLabel="Type">@context.Type</MudTd>
        <MudTd DataLabel="Date">@context.Date</MudTd>
        <MudTd DataLabel="Creator">@context.Creator</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
}
else {<p>No results</p>}

@code {
    [Parameter]
    public List<ItemViewModel> Items { get; set; } = new();

    public void RowClicked(TableRowClickEventArgs<ItemViewModel> i)
    {
        navManager.NavigateTo($"/items/{i.Item.Id}");
    }
}
